node_modules
vendor
public/build
storage/*.key
.env
.git
.github
.vscode
.dockerignore
Dockerfile
docker-compose.yml
docker
npm-debug.log
yarn-error.log
.phpunit.result.cache
tests
phpunit.xml
.editorconfig
.prettierrc
.prettierignore
eslint.config.js
tsc_output.txt
tsc_output_2.txt
