-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hris
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance_corrections`
--

DROP TABLE IF EXISTS `attendance_corrections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_corrections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `attendance_id` bigint(20) unsigned DEFAULT NULL,
  `tanggal` date NOT NULL,
  `clock_in` time DEFAULT NULL,
  `clock_out` time DEFAULT NULL,
  `status` varchar(255) NOT NULL,
  `reason` text NOT NULL,
  `approval_status` varchar(255) NOT NULL DEFAULT 'pending',
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_corrections_employee_id_foreign` (`employee_id`),
  KEY `attendance_corrections_attendance_id_foreign` (`attendance_id`),
  KEY `attendance_corrections_approved_by_foreign` (`approved_by`),
  CONSTRAINT `attendance_corrections_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `attendance_corrections_attendance_id_foreign` FOREIGN KEY (`attendance_id`) REFERENCES `attendances` (`id`) ON DELETE SET NULL,
  CONSTRAINT `attendance_corrections_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_corrections`
--

LOCK TABLES `attendance_corrections` WRITE;
/*!40000 ALTER TABLE `attendance_corrections` DISABLE KEYS */;
INSERT INTO `attendance_corrections` VALUES (1,33,NULL,'2026-03-26','08:30:00','17:00:00','hadir','Jamnya error','approved',34,NULL,'2026-03-26 08:38:50','2026-03-26 08:39:18'),(2,31,759,'2026-03-24','08:30:00','17:00:00','hadir','lupa absen','approved',34,NULL,'2026-03-26 08:40:18','2026-03-27 07:05:42'),(3,47,NULL,'2026-03-27','07:56:00',NULL,'hadir','Jari basah','approved',34,NULL,'2026-03-27 07:07:51','2026-03-27 07:08:19');
/*!40000 ALTER TABLE `attendance_corrections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendances`
--

DROP TABLE IF EXISTS `attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendances` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `clock_in` datetime DEFAULT NULL,
  `clock_in_location` varchar(255) DEFAULT NULL,
  `clock_out` datetime DEFAULT NULL,
  `clock_out_location` varchar(255) DEFAULT NULL,
  `jam_masuk` time DEFAULT NULL,
  `jam_pulang` time DEFAULT NULL,
  `early_in_minutes` int(11) NOT NULL DEFAULT 0,
  `late_in_minutes` int(11) NOT NULL DEFAULT 0,
  `early_out_minutes` int(11) NOT NULL DEFAULT 0,
  `late_out_minutes` int(11) NOT NULL DEFAULT 0,
  `clock_in_photo` varchar(255) DEFAULT NULL,
  `clock_out_photo` varchar(255) DEFAULT NULL,
  `clock_in_lat` decimal(10,7) DEFAULT NULL,
  `clock_in_lng` decimal(10,7) DEFAULT NULL,
  `clock_out_lat` decimal(10,7) DEFAULT NULL,
  `clock_out_lng` decimal(10,7) DEFAULT NULL,
  `status` enum('hadir','izin','sakit','cuti','alpha','libur') NOT NULL DEFAULT 'hadir',
  `is_holiday` tinyint(1) NOT NULL DEFAULT 0,
  `is_late` tinyint(1) NOT NULL DEFAULT 0,
  `late_minutes` int(11) NOT NULL DEFAULT 0,
  `overtime_minutes` int(11) NOT NULL DEFAULT 0,
  `verified_lembur_minutes` int(11) NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `attendances_employee_id_tanggal_unique` (`employee_id`,`tanggal`),
  CONSTRAINT `attendances_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1018 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendances`
--

LOCK TABLES `attendances` WRITE;
/*!40000 ALTER TABLE `attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `departments_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (21,'Quality Control','QU','2026-03-20 04:48:12','2026-03-20 04:48:12'),(22,'Direksi','DI','2026-03-20 04:48:12','2026-03-20 04:48:12'),(24,'Accounting and Finance','AC','2026-03-20 04:48:13','2026-03-20 04:48:13'),(26,'Health and Safety Environment','HE','2026-03-20 04:48:14','2026-03-20 04:48:14'),(28,'Engineering and Construction','EN1','2026-03-20 04:48:16','2026-03-20 04:48:16'),(29,'Human Resources and General Affair','HU2','2026-03-20 04:48:17','2026-03-20 04:48:17'),(31,'General Affair','GA','2026-03-27 03:16:36','2026-03-27 03:16:36');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_shift`
--

DROP TABLE IF EXISTS `employee_shift`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_shift` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_shift`
--

LOCK TABLES `employee_shift` WRITE;
/*!40000 ALTER TABLE `employee_shift` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_shift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `report_to` bigint(20) unsigned DEFAULT NULL,
  `dashboard_config` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dashboard_config`)),
  `nama` varchar(255) NOT NULL,
  `nik` varchar(255) NOT NULL,
  `tempat_lahir` varchar(255) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `alamat_tetap` text DEFAULT NULL,
  `alamat_sekarang` text DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `gender` enum('laki-laki','perempuan') DEFAULT NULL,
  `status_pernikahan` varchar(255) DEFAULT NULL,
  `pendidikan_terakhir` varchar(255) DEFAULT NULL,
  `agama` varchar(255) DEFAULT NULL,
  `no_telpon_1` varchar(255) DEFAULT NULL,
  `no_telpon_2` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `signature` varchar(255) DEFAULT NULL,
  `face_descriptor` text DEFAULT NULL,
  `faceio_facial_id` varchar(255) DEFAULT NULL,
  `no_ktp` varchar(255) DEFAULT NULL,
  `npwp` varchar(255) DEFAULT NULL,
  `no_bpjs_ketenagakerjaan` varchar(255) DEFAULT NULL,
  `no_bpjs_kesehatan` varchar(255) DEFAULT NULL,
  `file_ktp` varchar(255) DEFAULT NULL,
  `file_npwp` varchar(255) DEFAULT NULL,
  `file_kk` varchar(255) DEFAULT NULL,
  `file_ijazah` varchar(255) DEFAULT NULL,
  `file_lainnya` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`file_lainnya`)),
  `department_id` bigint(20) unsigned NOT NULL,
  `position_id` bigint(20) unsigned NOT NULL,
  `work_location_id` bigint(20) unsigned DEFAULT NULL,
  `working_location_id` bigint(20) unsigned DEFAULT NULL,
  `shift_id` bigint(20) unsigned DEFAULT NULL,
  `status_kepegawaian` enum('tetap','kontrak','probation','magang') NOT NULL DEFAULT 'tetap',
  `hire_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `nama_bank` varchar(255) DEFAULT NULL,
  `cabang_bank` varchar(255) DEFAULT NULL,
  `no_rekening` varchar(255) DEFAULT NULL,
  `nama_rekening` varchar(255) DEFAULT NULL,
  `nama_kontak_darurat_1` varchar(255) DEFAULT NULL,
  `no_kontak_darurat_1` varchar(255) DEFAULT NULL,
  `nama_kontak_darurat_2` varchar(255) DEFAULT NULL,
  `no_kontak_darurat_2` varchar(255) DEFAULT NULL,
  `gaji_pokok` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_jabatan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_kehadiran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_transportasi` decimal(15,2) NOT NULL DEFAULT 0.00,
  `uang_makan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `uang_lembur` decimal(15,2) NOT NULL DEFAULT 0.00,
  `thr` decimal(15,2) NOT NULL DEFAULT 0.00,
  `gaji_bpjs_tk` decimal(15,2) NOT NULL DEFAULT 0.00,
  `gaji_bpjs_jkn` decimal(15,2) NOT NULL DEFAULT 0.00,
  `gross_up` tinyint(1) NOT NULL DEFAULT 0,
  `pinjaman_koperasi` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_lain_1` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_lain_2` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employees_nik_unique` (`nik`),
  KEY `employees_user_id_foreign` (`user_id`),
  KEY `employees_department_id_foreign` (`department_id`),
  KEY `employees_position_id_foreign` (`position_id`),
  KEY `employees_work_location_id_foreign` (`work_location_id`),
  KEY `employees_shift_id_foreign` (`shift_id`),
  KEY `employees_report_to_foreign` (`report_to`),
  KEY `employees_working_location_id_foreign` (`working_location_id`),
  CONSTRAINT `employees_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `employees_position_id_foreign` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`),
  CONSTRAINT `employees_report_to_foreign` FOREIGN KEY (`report_to`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employees_shift_id_foreign` FOREIGN KEY (`shift_id`) REFERENCES `shifts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employees_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employees_work_location_id_foreign` FOREIGN KEY (`work_location_id`) REFERENCES `work_locations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employees_working_location_id_foreign` FOREIGN KEY (`working_location_id`) REFERENCES `working_locations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_acknowledgements`
--

DROP TABLE IF EXISTS `evaluation_acknowledgements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_acknowledgements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `type` varchar(255) NOT NULL,
  `cycle_date` date NOT NULL,
  `acknowledged_at` timestamp NULL DEFAULT NULL,
  `acknowledged_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `eval_ack_unique` (`employee_id`,`type`,`cycle_date`),
  KEY `evaluation_acknowledgements_acknowledged_by_foreign` (`acknowledged_by`),
  CONSTRAINT `evaluation_acknowledgements_acknowledged_by_foreign` FOREIGN KEY (`acknowledged_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `evaluation_acknowledgements_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_acknowledgements`
--

LOCK TABLES `evaluation_acknowledgements` WRITE;
/*!40000 ALTER TABLE `evaluation_acknowledgements` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_acknowledgements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exit_permits`
--

DROP TABLE IF EXISTS `exit_permits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exit_permits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_berakhir` time NOT NULL,
  `keperluan` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `exit_permits_employee_id_foreign` (`employee_id`),
  CONSTRAINT `exit_permits_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exit_permits`
--

LOCK TABLES `exit_permits` WRITE;
/*!40000 ALTER TABLE `exit_permits` DISABLE KEYS */;
INSERT INTO `exit_permits` VALUES (2,35,'2026-03-25','13:09:00','17:09:00','testing number 2','2026-03-25 06:09:30','2026-03-25 06:09:30'),(3,36,'2026-03-25','15:00:00','17:00:00','Izin keluar','2026-03-25 06:10:31','2026-03-25 06:10:31');
/*!40000 ALTER TABLE `exit_permits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidays`
--

DROP TABLE IF EXISTS `holidays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holidays` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `holidays_date_unique` (`date`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidays`
--

LOCK TABLES `holidays` WRITE;
/*!40000 ALTER TABLE `holidays` DISABLE KEYS */;
INSERT INTO `holidays` VALUES (1,'2026-04-03','Wafat Yesus Kristus','2026-03-26 07:51:25','2026-03-26 07:51:25'),(2,'2026-03-23','Libur Perusahaan Idul Fitri','2026-03-26 08:12:55','2026-03-26 08:12:55'),(3,'2026-03-24','Libur Perusahaan Idul Fitri','2026-03-26 08:13:03','2026-03-26 08:13:03');
/*!40000 ALTER TABLE `holidays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_reserved_at_available_at_index` (`queue`,`reserved_at`,`available_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_evaluations`
--

DROP TABLE IF EXISTS `kpi_evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_evaluations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `evaluator_id` bigint(20) unsigned DEFAULT NULL,
  `hr_id` bigint(20) unsigned DEFAULT NULL,
  `period_type` varchar(255) NOT NULL,
  `period_detail` varchar(255) DEFAULT NULL,
  `evaluation_date` date NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending_hr',
  `score_kpi_1` int(11) NOT NULL DEFAULT 0,
  `score_kpi_2` int(11) NOT NULL DEFAULT 0,
  `score_kpi_3` int(11) NOT NULL DEFAULT 0,
  `score_kpi_4` int(11) NOT NULL DEFAULT 0,
  `score_kpi_5` int(11) NOT NULL DEFAULT 0,
  `score_planning` int(11) NOT NULL DEFAULT 0,
  `score_analysis` int(11) NOT NULL DEFAULT 0,
  `score_independence` int(11) NOT NULL DEFAULT 0,
  `score_attitude` int(11) NOT NULL DEFAULT 0,
  `score_collab_sup` int(11) NOT NULL DEFAULT 0,
  `score_collab_peers` int(11) NOT NULL DEFAULT 0,
  `score_collab_sub` int(11) NOT NULL DEFAULT 0,
  `score_attendance` int(11) NOT NULL DEFAULT 0,
  `score_punctuality` int(11) NOT NULL DEFAULT 0,
  `score_obedience` int(11) NOT NULL DEFAULT 0,
  `rec_1` text DEFAULT NULL,
  `rec_2` text DEFAULT NULL,
  `rec_3` text DEFAULT NULL,
  `employee_comment` text DEFAULT NULL,
  `total_score` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kpi_evaluations_employee_id_foreign` (`employee_id`),
  KEY `kpi_evaluations_evaluator_id_foreign` (`evaluator_id`),
  KEY `kpi_evaluations_hr_id_foreign` (`hr_id`),
  CONSTRAINT `kpi_evaluations_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kpi_evaluations_evaluator_id_foreign` FOREIGN KEY (`evaluator_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kpi_evaluations_hr_id_foreign` FOREIGN KEY (`hr_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_evaluations`
--

LOCK TABLES `kpi_evaluations` WRITE;
/*!40000 ALTER TABLE `kpi_evaluations` DISABLE KEYS */;
INSERT INTO `kpi_evaluations` VALUES (3,36,35,33,'6_month',NULL,'2026-03-27','completed',8,8,1,5,7,1,2,3,3,2,2,0,3,2,3,'Wew','Test 2','Test 3','Boma hoax',62.26,'2026-03-27 03:27:14','2026-03-27 03:32:10'),(4,47,48,33,'6_month',NULL,'2026-03-27','completed',9,1,2,10,1,3,2,2,2,3,3,3,2,2,3,'semangat',NULL,NULL,'Gajelas mba nurul',61.09,'2026-03-27 03:49:03','2026-03-27 04:02:39');
/*!40000 ALTER TABLE `kpi_evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_balances`
--

DROP TABLE IF EXISTS `leave_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_balances` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `leave_type_id` bigint(20) unsigned NOT NULL,
  `year` int(11) NOT NULL,
  `total_days` int(11) NOT NULL DEFAULT 0,
  `used_days` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `leave_balances_employee_id_leave_type_id_year_unique` (`employee_id`,`leave_type_id`,`year`),
  KEY `leave_balances_leave_type_id_foreign` (`leave_type_id`),
  CONSTRAINT `leave_balances_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leave_balances_leave_type_id_foreign` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_balances`
--

LOCK TABLES `leave_balances` WRITE;
/*!40000 ALTER TABLE `leave_balances` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `leave_type_id` bigint(20) unsigned NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `jumlah_hari` int(11) NOT NULL,
  `alasan` text NOT NULL,
  `yang_menggantikan` varchar(255) DEFAULT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `approved_by_supervisor_id` bigint(20) unsigned DEFAULT NULL,
  `supervisor_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `supervisor_approved_at` datetime DEFAULT NULL,
  `supervisor_notes` text DEFAULT NULL,
  `approved_by_manager_id` bigint(20) unsigned DEFAULT NULL,
  `manager_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `manager_approved_at` datetime DEFAULT NULL,
  `manager_notes` text DEFAULT NULL,
  `status` enum('pending','partially_approved','approved','rejected','cancelled') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `leave_requests_employee_id_foreign` (`employee_id`),
  KEY `leave_requests_leave_type_id_foreign` (`leave_type_id`),
  KEY `leave_requests_approved_by_supervisor_id_foreign` (`approved_by_supervisor_id`),
  KEY `leave_requests_approved_by_manager_id_foreign` (`approved_by_manager_id`),
  CONSTRAINT `leave_requests_approved_by_manager_id_foreign` FOREIGN KEY (`approved_by_manager_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `leave_requests_approved_by_supervisor_id_foreign` FOREIGN KEY (`approved_by_supervisor_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `leave_requests_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leave_requests_leave_type_id_foreign` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_types`
--

DROP TABLE IF EXISTS `leave_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_types` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `max_days` int(11) NOT NULL DEFAULT 0,
  `is_paid` tinyint(1) NOT NULL DEFAULT 1,
  `requires_attachment` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_types`
--

LOCK TABLES `leave_types` WRITE;
/*!40000 ALTER TABLE `leave_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `overtime_employee`
--

DROP TABLE IF EXISTS `overtime_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `overtime_employee` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `overtime_id` bigint(20) unsigned NOT NULL,
  `employee_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `overtime_employee_overtime_id_foreign` (`overtime_id`),
  KEY `overtime_employee_employee_id_foreign` (`employee_id`),
  CONSTRAINT `overtime_employee_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `overtime_employee_overtime_id_foreign` FOREIGN KEY (`overtime_id`) REFERENCES `overtimes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `overtime_employee`
--

LOCK TABLES `overtime_employee` WRITE;
/*!40000 ALTER TABLE `overtime_employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `overtime_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `overtimes`
--

DROP TABLE IF EXISTS `overtimes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `overtimes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `creator_id` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_berakhir` time NOT NULL,
  `durasi` decimal(8,2) NOT NULL,
  `working_location_id` bigint(20) unsigned DEFAULT NULL,
  `lokasi_kerja` varchar(255) NOT NULL,
  `keperluan` text NOT NULL,
  `status` enum('pending','partially_approved','approved','rejected') NOT NULL DEFAULT 'pending',
  `supervisor_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_by_supervisor_id` bigint(20) unsigned DEFAULT NULL,
  `supervisor_approved_at` timestamp NULL DEFAULT NULL,
  `supervisor_notes` text DEFAULT NULL,
  `manager_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_by_manager_id` bigint(20) unsigned DEFAULT NULL,
  `manager_approved_at` timestamp NULL DEFAULT NULL,
  `manager_notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `overtimes_creator_id_foreign` (`creator_id`),
  KEY `overtimes_approved_by_supervisor_id_foreign` (`approved_by_supervisor_id`),
  KEY `overtimes_approved_by_manager_id_foreign` (`approved_by_manager_id`),
  KEY `overtimes_working_location_id_foreign` (`working_location_id`),
  CONSTRAINT `overtimes_approved_by_manager_id_foreign` FOREIGN KEY (`approved_by_manager_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `overtimes_approved_by_supervisor_id_foreign` FOREIGN KEY (`approved_by_supervisor_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `overtimes_creator_id_foreign` FOREIGN KEY (`creator_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `overtimes_working_location_id_foreign` FOREIGN KEY (`working_location_id`) REFERENCES `working_locations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `overtimes`
--

LOCK TABLES `overtimes` WRITE;
/*!40000 ALTER TABLE `overtimes` DISABLE KEYS */;
/*!40000 ALTER TABLE `overtimes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES ('dante.exreaper@gmail.com','$2y$12$qEi5m4bUz0oZ4wh3U1GwK.jZ.3YGhPhnQAwS7hmud8a6HoVggoZce','2026-03-19 00:35:49');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_request_attachments`
--

DROP TABLE IF EXISTS `payment_request_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_request_attachments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `payment_request_id` bigint(20) unsigned NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_request_attachments_payment_request_id_foreign` (`payment_request_id`),
  CONSTRAINT `payment_request_attachments_payment_request_id_foreign` FOREIGN KEY (`payment_request_id`) REFERENCES `payment_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_request_attachments`
--

LOCK TABLES `payment_request_attachments` WRITE;
/*!40000 ALTER TABLE `payment_request_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_request_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_request_items`
--

DROP TABLE IF EXISTS `payment_request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_request_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `payment_request_id` bigint(20) unsigned NOT NULL,
  `description` varchar(255) NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `unit` varchar(255) NOT NULL DEFAULT 'Pcs',
  `qty` decimal(10,2) NOT NULL DEFAULT 1.00,
  `price` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `payment_request_items_payment_request_id_foreign` (`payment_request_id`),
  CONSTRAINT `payment_request_items_payment_request_id_foreign` FOREIGN KEY (`payment_request_id`) REFERENCES `payment_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_request_items`
--

LOCK TABLES `payment_request_items` WRITE;
/*!40000 ALTER TABLE `payment_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_requests`
--

DROP TABLE IF EXISTS `payment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pr_number` varchar(255) NOT NULL,
  `date` date NOT NULL,
  `company_id` bigint(20) unsigned NOT NULL,
  `working_location_id` bigint(20) unsigned NOT NULL,
  `department_id` bigint(20) unsigned NOT NULL,
  `subject` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `paid_to` varchar(255) NOT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `bank_account` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `requested_by_id` bigint(20) unsigned NOT NULL,
  `requested_at` timestamp NULL DEFAULT NULL,
  `requester_signature_snapshot` varchar(255) DEFAULT NULL,
  `tax_status` varchar(255) NOT NULL DEFAULT 'pending',
  `tax_approver_id` bigint(20) unsigned DEFAULT NULL,
  `tax_approved_at` timestamp NULL DEFAULT NULL,
  `tax_notes` text DEFAULT NULL,
  `tax_signature_snapshot` varchar(255) DEFAULT NULL,
  `accounting_status` varchar(255) NOT NULL DEFAULT 'pending',
  `accounting_approver_id` bigint(20) unsigned DEFAULT NULL,
  `accounting_approved_at` timestamp NULL DEFAULT NULL,
  `accounting_notes` text DEFAULT NULL,
  `accounting_signature_snapshot` varchar(255) DEFAULT NULL,
  `cost_control_status` varchar(255) NOT NULL DEFAULT 'pending',
  `cost_control_approver_id` bigint(20) unsigned DEFAULT NULL,
  `cost_control_approved_at` timestamp NULL DEFAULT NULL,
  `cost_control_notes` text DEFAULT NULL,
  `cost_control_signature_snapshot` varchar(255) DEFAULT NULL,
  `head_branch_status` varchar(255) NOT NULL DEFAULT 'pending',
  `head_branch_approver_id` bigint(20) unsigned DEFAULT NULL,
  `head_branch_approved_at` timestamp NULL DEFAULT NULL,
  `head_branch_notes` text DEFAULT NULL,
  `head_branch_signature_snapshot` varchar(255) DEFAULT NULL,
  `director_status` varchar(255) NOT NULL DEFAULT 'pending',
  `director_approver_id` bigint(20) unsigned DEFAULT NULL,
  `director_approved_at` timestamp NULL DEFAULT NULL,
  `director_notes` text DEFAULT NULL,
  `director_signature_snapshot` varchar(255) DEFAULT NULL,
  `commissioner_status` varchar(255) NOT NULL DEFAULT 'pending',
  `commissioner_approver_id` bigint(20) unsigned DEFAULT NULL,
  `commissioner_approved_at` timestamp NULL DEFAULT NULL,
  `commissioner_notes` text DEFAULT NULL,
  `commissioner_signature_snapshot` varchar(255) DEFAULT NULL,
  `advisor_status` varchar(255) NOT NULL DEFAULT 'pending',
  `advisor_approver_id` bigint(20) unsigned DEFAULT NULL,
  `advisor_approved_at` timestamp NULL DEFAULT NULL,
  `advisor_notes` text DEFAULT NULL,
  `advisor_signature_snapshot` varchar(255) DEFAULT NULL,
  `finance_status` varchar(255) DEFAULT NULL,
  `finance_approver_id` bigint(20) unsigned DEFAULT NULL,
  `finance_approved_at` timestamp NULL DEFAULT NULL,
  `finance_notes` text DEFAULT NULL,
  `finance_signature_snapshot` varchar(255) DEFAULT NULL,
  `payment_evidence` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payment_requests_pr_number_unique` (`pr_number`),
  KEY `payment_requests_company_id_foreign` (`company_id`),
  KEY `payment_requests_department_id_foreign` (`department_id`),
  KEY `payment_requests_requested_by_id_foreign` (`requested_by_id`),
  KEY `payment_requests_tax_approver_id_foreign` (`tax_approver_id`),
  KEY `payment_requests_accounting_approver_id_foreign` (`accounting_approver_id`),
  KEY `payment_requests_cost_control_approver_id_foreign` (`cost_control_approver_id`),
  KEY `payment_requests_head_branch_approver_id_foreign` (`head_branch_approver_id`),
  KEY `payment_requests_director_approver_id_foreign` (`director_approver_id`),
  KEY `payment_requests_commissioner_approver_id_foreign` (`commissioner_approver_id`),
  KEY `payment_requests_advisor_approver_id_foreign` (`advisor_approver_id`),
  KEY `payment_requests_working_location_id_foreign` (`working_location_id`),
  CONSTRAINT `payment_requests_accounting_approver_id_foreign` FOREIGN KEY (`accounting_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_advisor_approver_id_foreign` FOREIGN KEY (`advisor_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_commissioner_approver_id_foreign` FOREIGN KEY (`commissioner_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_company_id_foreign` FOREIGN KEY (`company_id`) REFERENCES `work_locations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_requests_cost_control_approver_id_foreign` FOREIGN KEY (`cost_control_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_requests_director_approver_id_foreign` FOREIGN KEY (`director_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_head_branch_approver_id_foreign` FOREIGN KEY (`head_branch_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_requested_by_id_foreign` FOREIGN KEY (`requested_by_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_requests_tax_approver_id_foreign` FOREIGN KEY (`tax_approver_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_requests_working_location_id_foreign` FOREIGN KEY (`working_location_id`) REFERENCES `working_locations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_requests`
--

LOCK TABLES `payment_requests` WRITE;
/*!40000 ALTER TABLE `payment_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_items`
--

DROP TABLE IF EXISTS `payroll_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `payroll_id` bigint(20) unsigned NOT NULL,
  `employee_id` bigint(20) unsigned NOT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `employee_nik` varchar(255) DEFAULT NULL,
  `department_name` varchar(255) DEFAULT NULL,
  `position_name` varchar(255) DEFAULT NULL,
  `work_location_name` varchar(255) DEFAULT NULL,
  `working_location_name` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `bank_account_no` varchar(255) DEFAULT NULL,
  `gaji_pokok` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_jabatan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_kehadiran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_transportasi` decimal(15,2) NOT NULL DEFAULT 0.00,
  `uang_makan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `uang_makan_count` int(11) NOT NULL DEFAULT 0,
  `uang_lembur` decimal(15,2) NOT NULL DEFAULT 0.00,
  `lembur_minutes` int(11) NOT NULL DEFAULT 0,
  `thr` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tunjangan_pajak` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_pendapatan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `taxable_gross` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_bpjs_tk` decimal(15,2) NOT NULL DEFAULT 0.00,
  `bpjs_tk_base` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_bpjs_jkn` decimal(15,2) NOT NULL DEFAULT 0.00,
  `bpjs_jkn_base` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_pph21` decimal(15,2) NOT NULL DEFAULT 0.00,
  `pinjaman_koperasi` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_lain_1` decimal(15,2) NOT NULL DEFAULT 0.00,
  `potongan_lain_2` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_potongan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `gaji_bersih` decimal(15,2) NOT NULL DEFAULT 0.00,
  `iuran_bpjs_tk_perusahaan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `iuran_bpjs_jkn_perusahaan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payroll_items_payroll_id_foreign` (`payroll_id`),
  KEY `payroll_items_employee_id_foreign` (`employee_id`),
  CONSTRAINT `payroll_items_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `payroll_items_payroll_id_foreign` FOREIGN KEY (`payroll_id`) REFERENCES `payrolls` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=818 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_items`
--

LOCK TABLES `payroll_items` WRITE;
/*!40000 ALTER TABLE `payroll_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrolls`
--

DROP TABLE IF EXISTS `payrolls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payrolls` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `periode` varchar(255) NOT NULL,
  `tanggal_proses` date NOT NULL,
  `status` enum('draft','processed','finalized') NOT NULL DEFAULT 'draft',
  `processed_by` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payrolls_processed_by_foreign` (`processed_by`),
  CONSTRAINT `payrolls_processed_by_foreign` FOREIGN KEY (`processed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrolls`
--

LOCK TABLES `payrolls` WRITE;
/*!40000 ALTER TABLE `payrolls` DISABLE KEYS */;
/*!40000 ALTER TABLE `payrolls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission_user`
--

DROP TABLE IF EXISTS `permission_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permission_user` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `permission_user_user_id_foreign` (`user_id`),
  KEY `permission_user_permission_id_foreign` (`permission_id`),
  CONSTRAINT `permission_user_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `permission_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission_user`
--

LOCK TABLES `permission_user` WRITE;
/*!40000 ALTER TABLE `permission_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `permission_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `module` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `positions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `department_id` bigint(20) unsigned NOT NULL,
  `grade` enum('staff','supervisor','manager') NOT NULL DEFAULT 'staff',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `kpi_1` varchar(255) DEFAULT NULL,
  `kpi_2` varchar(255) DEFAULT NULL,
  `kpi_3` varchar(255) DEFAULT NULL,
  `kpi_4` varchar(255) DEFAULT NULL,
  `kpi_5` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `positions_department_id_foreign` (`department_id`),
  CONSTRAINT `positions_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shifts`
--

DROP TABLE IF EXISTS `shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shifts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `jam_masuk` time NOT NULL,
  `jam_pulang` time NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shifts`
--

LOCK TABLES `shifts` WRITE;
/*!40000 ALTER TABLE `shifts` DISABLE KEYS */;
INSERT INTO `shifts` VALUES (1,'Morning Shift','08:30:00','17:00:00','2026-03-16 00:57:15','2026-03-25 05:23:35'),(2,'Puasa','08:00:00','16:00:00','2026-03-25 05:16:23','2026-03-25 05:16:23');
/*!40000 ALTER TABLE `shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `role` enum('admin','manager','supervisor','staff') NOT NULL DEFAULT 'staff',
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `two_factor_secret` text DEFAULT NULL,
  `two_factor_recovery_codes` text DEFAULT NULL,
  `two_factor_confirmed_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warning_letters`
--

DROP TABLE IF EXISTS `warning_letters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warning_letters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` bigint(20) unsigned NOT NULL,
  `level` int(11) NOT NULL DEFAULT 1,
  `reference_number` varchar(255) NOT NULL,
  `reason` text NOT NULL,
  `description` text NOT NULL,
  `issued_date` date NOT NULL,
  `valid_until` date NOT NULL,
  `issued_by` bigint(20) unsigned NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'issued',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `warning_letters_reference_number_unique` (`reference_number`),
  KEY `warning_letters_employee_id_foreign` (`employee_id`),
  KEY `warning_letters_issued_by_foreign` (`issued_by`),
  CONSTRAINT `warning_letters_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `warning_letters_issued_by_foreign` FOREIGN KEY (`issued_by`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warning_letters`
--

LOCK TABLES `warning_letters` WRITE;
/*!40000 ALTER TABLE `warning_letters` DISABLE KEYS */;
/*!40000 ALTER TABLE `warning_letters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_locations`
--

DROP TABLE IF EXISTS `work_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `work_locations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(10) NOT NULL,
  `address` text DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `payroll_cutoff_date` int(11) DEFAULT NULL COMMENT 'Tanggal cut-off bulanan, misal 25. Jika null, maka hitungan cut-off adalah akhir bulan (misal 30/31).',
  `header_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `work_locations_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_locations`
--

LOCK TABLES `work_locations` WRITE;
/*!40000 ALTER TABLE `work_locations` DISABLE KEYS */;
INSERT INTO `work_locations` VALUES (9,'PT Karya Prima Lestari Utama','KPLU','Jakarta','company_logos/CGpbZ4sexPYUf745gM5lfgQzKh1ROM167YbY6pua.png',24,'company_headers/Au690WJVPRVTjGf3FqxcR3fQf62ANx4FCc5sitIU.png','2026-03-20 04:48:12','2026-03-24 02:38:10'),(10,'PT Cipta Daya Malindo','CDM','Jakarta','company_logos/GHNS25WngmiJFtLOb75DzxMJL4zKRW9t48DXBL54.png',24,'company_headers/GJrEHeH4AkaGltmb6tp4VfikvLaNyYHNgxAXBb4a.png','2026-03-20 04:48:12','2026-03-24 02:38:00');
/*!40000 ALTER TABLE `work_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `working_locations`
--

DROP TABLE IF EXISTS `working_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `working_locations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `latitude` decimal(10,8) NOT NULL,
  `longitude` decimal(11,8) NOT NULL,
  `radius` int(11) NOT NULL DEFAULT 200,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `working_locations`
--

LOCK TABLES `working_locations` WRITE;
/*!40000 ALTER TABLE `working_locations` DISABLE KEYS */;
INSERT INTO `working_locations` VALUES (2,'HO',-6.21014520,106.87355060,200,'2026-03-21 11:47:24','2026-03-25 01:49:42'),(3,'Artha Gading',-6.14933270,106.89176730,200,'2026-03-25 09:39:49','2026-03-25 09:39:49');
/*!40000 ALTER TABLE `working_locations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-27 16:48:23
